@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Safira March';
  src: url('/fonts/SafiraMarch.ttf') format('opentype');
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-text);
}

@theme {
  --color-secondary: #e1daca;
  --color-primary: #762849;
  --color-emphasis: #FFC857;

  --darker-secondary: #baaa86;
  --semi-secondary: rgb(from var(--color-secondary) r g b / 0.075);

  --darker-primary: #581e37;
  --lighter-primary: #b83e72;

  --color-background: var(--color-primary);
  --color-text: var(--color-secondary);

  --font-text: 'Josefin Sans', sans-serif;
  /*--font-heading: 'Safira March', cursive;*/
  --font-heading: 'Safira March', cursive;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

header {
  font-family: var(--font-heading);
}

:not(nav) > a {
  text-decoration: underline;

  &:hover {
    text-decoration-style: wavy;
  }
}

main > div {
  background-image: linear-gradient(var(--semi-secondary) 1.5px, transparent 1.5px, transparent calc(100% - 1.5px), var(--semi-secondary) calc(100% - 1.5px)),
  linear-gradient(90deg, var(--semi-secondary) 1.5px, transparent 1.5px, transparent calc(100% - 1.5px), var(--semi-secondary) calc(100% - 1.5px));
  background-size: 100px 100px;
}
